*.pdf
figures
figures_to_send
build
.vscode
joblib-cache
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info
*.egg
.ipynb_checkpoints
jax-compilation-cache*
scratchpad.ipynb
special_scratchpad_notebook.ipynb
test_type_checking.py
test_return_type_check.ipynb
.DS_Store
**/.DS_Store
.mypy_cache
mypy.ini
temp_data
local_temp_data
results
configs
scalevi
wandb
scratchpad.ipynb
dist